# Deployment Private Key
PRIVATE_KEY=0xe83bbb5223339d634ca6f0eb5225b9a0b611e3038a6eef7a44b66cab1b3907d5

# Initial Owner of the Payroll instance
INITIAL_OWNER=0xF44d83F39578ca49a4d3E994b51455527946822d

# Deployment Mode: "factory" (factory + instance), "direct" (instance only), or "factory_only"
DEPLOY_MODE=factory

# RPC URL for the target network
RPC_URL=http://localhost:8545
